body {
    padding-top: 56px;
}

h1.title {
    font-size: 1.25rem;
}

div.error {
    color: red;
}

form {
    width: 30%;
    margin: auto;
}

form, form > div {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
    color: gray;
}

input {
    padding: 10px;
    background-color: #d2d6e2;
    border: none;
    margin: 15px;
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    color: #1a202c;
    padding: 30px;
    width: 100%;
}

.menu > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}

.menu > a:hover {
    text-decoration: underline white;
}
